

:root {
    --primary-color: #ffb3b3; 
    --secondary-color: #ffffff; 
    --background-color: #f8f9fa; 
    --input-border-color: #ced4da; 
    --input-focus-color: #495057; 
    --button-hover-color: #fc9d9d; 
    --text-color: #212529; 
    --box-shadow-color: rgba(0, 0, 0, 0.1); 
   
  }
  
  body {
   
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .login-container {
    background-color: var(--secondary-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-left: 35%;
    margin-top: 6%;
   background-color: #f4f8fc;
    
  }
  
  .login-container h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #f669af;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-input {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    transition: border-color 0.3s;
  }
  
  .login-input:focus {
    border-color: var(--input-focus-color);
    outline: none;
  }
  
  .btn-login {
    background-color: rgb(148, 148, 148);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .btn-login:hover {
    background-color: gray;
    box-shadow: 0 4px 8px var(--box-shadow-color);
  }
  
  .btn-login:active {
    transform: translateY(2px);
  }
  
  ::placeholder {
    color: var(--input-border-color);
    opacity: 1;
  }
  