
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #e5f9ff; 
  }
  
  .nav-brand {
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .nav-brand a {
    text-decoration: none;
    color: #f669af; 
    transition: color 0.3s ease;
  }
  
  .nav-brand a:hover {
    color: #f669af; 
  }
  
  .nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-items li {
    position: relative;
  }
  
  .nav-items a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #f669af;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-items a:hover {
    color: #f352a2; 
    transform: translateY(-2px);
  }
  
  .btn {
    padding: 8px 15px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-signup {
    border: 2px solid #f669af; 
    color: #ffffff; 
    background-color: transparent; 
  }
  
  .btn-signup:hover {
    background-color: #ffffff; 
    color: #232f34; 
    border-color: #f669af; 
  }
  
  .btn-login {
    background-color: transparent;
    color: #f669af; 
    border: 2px solid #f669af; 
  }
  
  .btn-login:hover {
    background-color: #ffffff; 
    color: #f669af; 
  }
  
  .logout-button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #d32f2f; 
    color: #ffffff; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #ff6659;
    transform: translateY(-2px);
    color: #f669af;
  }
  
  /* Write Blog Link */
  .post-blog-link {
    text-decoration: none;
    color: #f669af; 
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 15px;
    border: 2px solid #f669af; 
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .post-blog-link:hover {
    background-color: #ffffff; 
    color: #232f34; 
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    .nav-items {
      flex-direction: column;
      margin-left: 60%;
      gap: 28px;
      margin-top: 15px;
    }

  }
  